<section class="user-section">
  <div class="user-details">
    <img src=<%= @user.photo %> alt="<%= @user.name%>'s profile picture" />
    <div class="user-info">
      <p class="user_name"><%= @user.name %></p>
      <p class="user_post-counter">Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>
  <div class="bio-container">
    <h3> Bio </h3>
    <p> <%= @user.bio%></p>
  </div>

  <div class="create-new-post">
    <%= link_to "create new post", new_user_post_path(@user) %>
  </div>
  
  <ul class="user-recent-posts">
    <% if @user.posts.nil? || @user.posts.empty?%>
      <li> No posts available from <%= @user.name %>, yet! </li>
    <%end%>
    <% @user.most_recent_posts&.each do |post|%>
      <li>
        <p class="user-post-heading">
          <%= link_to post.title.upcase, user_post_path(@user, post) %>
        </p>
        <p class="post_text"><%= post.text %></p>
        <p class="comment-counter">
          comments: <%= post.comments_counter %>,
          likes: <%= post.likes_counter %>
        </p>
      </li>
    <%end%>
  </ul>
  <div class="see-all-posts">
    <%= link_to "See all posts", user_posts_path(@user) %>
  </div>
</section>