<h2>Create new post:</h2>
<%= form_with model: [ @user, @user.posts.build ] do |form| %>
    <p>
      <%= form.label :title %> <br>
      <%= form.text_field :title %>
    </p>
    <p>
      <%= form.label :text %> <br>
      <%= form.text_area :text %>
    </p>
    <p><%= form.submit %></p>
  <% end %>