<div class="user-details">
  <img src=<%= @user.photo %> alt="<%= @user.name%>'s profile picture" />
  <div class="user-info">
    <p class="user_name"><%= @user.name %></p>
    <p class="user_post-counter">Number of posts: <%= @user.posts_counter %></p>
  </div>
</div>

<div class="create-new-post">
  <%= link_to "create new post", new_user_post_path(@user) %>
  <%= render "layouts/flash-messages" %>
</div>
<ul class="user-posts">
  <% if @user.posts.nil? || @user.posts.empty?%>
    <li> No posts available from <%= @user.name %>, yet! </li>
  <%end%>
  <% @user.posts.includes([:comments])&.each_with_index do |post, indx|%>
    <li>
      <div class="post-info">
        <p class="user-post-heading">
          <%= link_to post.title.upcase, user_post_path(@user, post) %>
        </p>
        <p class="post_text"><%= post.text %></p>
        <p class="comment-counter">
          comments: <%= post.comments_counter %>,
          likes: <%= post.likes_counter %>
        </p>
      </div>

      <ul class="post-comments-list">
        <% if post.comments.nil? ||
          post.comments.empty? %>
          <li> No comments, yet! Be the first to comment!</li>
        <%end%>
        <%post.most_recent_comments.each do |comment|%>
          <li>
            <span class="comment-author"><%= comment.author.name %>:</span>
            <span><%= comment.text %>:</span>
          </li>
        <% end %>
      </ul>
    </li>
  <%end%>
</ul>

<div class="create-new-post">
  <%= render 'posts/form' %>
</div>

