
<header class="container header d-flex flex-justify-content-between">
  <div class="logo">
    <%= link_to "Blog App", root_path %>
  </div>
  <% if user_signed_in? %>
    <div>
      <p> Logged in as: <strong><%= current_user.name %><strong></p>
    </div>
  <% end %>
  <nav class="navbar">
    <ul class="nav-list">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Home", root_path %>
        </li>
        <li class="nav-item">
          <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path %>
        </li>
         <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
